<% total = @bill.items.sum(:amount)%>
<% per_person = total/Usersxbill.where(bill_id: @bill.id).length %>

<header class="user-header">
  <div class="user-header-wrapper">
    <h1>billmates</h1>
    <div>
      <p><%= current_user.name %></p>
      <form action="/session" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class="logout-btn">logout</button>
      </form>
    </div>
  </div>
</header>

<section class="bill-name">
  <div>
    <h1> <%= @bill.name %> </h1>
    <div >
      <form action="/bills/edit" method="get">
        <input type="hidden" name="bill_id" value="<%=@bill.id%>">
        <button class="edit-btn">edit</button>
      </form>
    </div>
  </div> 



    <div>
      <h2>total $<%=total%></h2>
      <h2>join code: <%= @bill.join_pin %> </h2>
    </div>
</section>

<% if !@bill.img_url == ""%>
  <style>
   .bill-details-header {
     background-image: url("<%=@bill.img_url%>");
     background-size: contain;
   }
   .bill-name-join {
     text-shadow: 2px 2px rgba(42,42,42,.75);
   }
  </style>
<% end %>

<div class="bill-details-main-aside">
  <main class="payment-details">
    <section class="add-item">
      <h2>add item</h2>

      <form action="/items/new" method="post">
        <input type="hidden" name="bill_id" value="<%=@bill.id%>">
        <input type="text" name="name" placeholder="enter item description">
        <input type="text" name="amount" placeholder="enter amount">
        <br>
        <select name="paid_by">

          <% Usersxbill.where(bill_id: @bill.id).each do |bill| %>
            <option value="<%= User.find(bill.user_id).name %>">
              <%= User.find(bill.user_id).name %>
            </option>
          <% end %>
          
        </select>
        <button class="add-btn">add</button>
      </form>


    </section>

    


    <section class="table">
      <h2>who owes what</h2>

      <div >
        <table>
          <tr>
            <th>billmate</th>
            <th>paid</th>
            <th>per person amount</th>
            <th>owes/is due</th>
          </tr>

          <% Usersxbill.where(bill_id: @bill.id).each do |bill| %>
          <tr>
            <td><%= User.find(bill.user_id).name %></td>
            <td> <%= @bill.items.where(:paid_by_user_id => User.find(bill.user_id).id).sum(:amount) %> </td>
            <td> <%= per_person %></td>
            <td> <%= per_person - @bill.items.where(:paid_by_user_id => User.find(bill.user_id).id).sum(:amount) %></td>
          </tr>
          <% end %>

        </table>
      </div>
    </section>


    <section class = "table">
      <h2>items</h2>
      <table>
        <tr>
          <th>item</th>
          <th>amount</th>
          <th>paid by</th>
        </tr>

        <% @bill.items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.amount %></td>
          <td><%= User.find(item.paid_by_user_id).name %></td>  
        </tr>
        <% end %>
      </table>


    </section>
  </main>

  <aside class="forum">
    <div class="posts">
      <% @bill.comments.each do |comment|%>
        <div class="comment-box">
          <span class="comment-name"> <%= User.find(comment.user_id).name %></span>
          <span> <%= comment.content%> </span>
        </div>
      <% end %>

    </div>
    <div class="input">
      <form action="/bills/comments/new" method="post">
        <input  type="hidden" name="bill_id" value="<%=@bill.id%>">
        <input class="comment-input"name="content" type="text" placeholder="type a message">
        <button class="send-btn">send</button>
      </form>
    </div>
  
  </aside>
</div>