<header>
  <img src="#logo" alt="billmates logo">
  <div>
    <h1> <%= @bill.name %> </h1>
    <h2> <%= @bill.join_pin %> </h2>
  </div>
  <div>
    <p><%= current_user.name %></p>
    <form action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>logout</button>
    </form>
  </div>
  
  <%# display members of the bill %>
  <div>
    <p>bill mates</p>
    <% Usersxbill.where(bill_id: @bill.id).each do |bill| %>
      <p><%=User.find(bill.user_id).name%></p>
    <% end %>
  </div>

</header>

<main>
  <section class="add-item">
    <h2>add item</h2>

    <form action="/items/new" method="post">
      <input type="hidden" name="bill_id" value="<%=@bill.id%>">
      <input type="text" name="name" placeholder="enter item description">
      <input type="text" name="amount" placeholder="enter amount">
      <select name="paid_by">

        <% Usersxbill.where(bill_id: @bill.id).each do |bill| %>
          <option value="<%= User.find(bill.user_id).name %>">
            <%= User.find(bill.user_id).name %>
          </option>
        <% end %>
        
      </select>
      <button>add</button>
    </form>


  </section>

  <% total = @bill.items.sum(:amount)%>
  <% per_person = total/Usersxbill.where(bill_id: @bill.id).length %>
  <h3>bill total: <%= total %></h3>

  <section>
    <h2>who owes what</h2>

    <%# display members of the bill %>
    <div class="totals-table">
      <table>
        <tr>
          <th>billmate</th>
          <th>paid</th>
          <th>per person amount</th>
          <th>owes/is due</th>
        </tr>

        <% Usersxbill.where(bill_id: @bill.id).each do |bill| %>
        <tr>
          <td><%= User.find(bill.user_id).name %></td>
          <td> <%= @bill.items.where(:paid_by_user_id => User.find(bill.user_id).id).sum(:amount) %> </td>
          <td> <%= per_person %></td>
          <td> <%= per_person - @bill.items.where(:paid_by_user_id => User.find(bill.user_id).id).sum(:amount) %></td>
        </tr>
        <% end %>

      </table>
    </div>
  </section>


  <section>
    <h2>items</h2>
    <table>
      <tr>
        <th>item</th>
        <th>amount</th>
        <th>paid by</th>
      </tr>

      <% @bill.items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.amount %></td>
        <td><%= User.find(item.paid_by_user_id).name %></td>  
      </tr>
      <% end %>
    </table>


  </section>
</main>

<aside>
<p>this is the forum</p>

</aside>