<header>
  <img src="#logo" alt="billmates logo">
  <div>
    <p><%= current_user.name %></p>
    <form action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>logout</button>
    </form>
  </div>
</header>

<section class="create-join-bill">
  <form action="/bills/new" method="post">
    <input name="name" type="text" placeholder="enter name for your bill or event">
    <button>create bill</button>
  </form>
  <form action="/bills/join" method="post">
    <input name="join_pin" type="text" placeholder="enter bill pin">
    <button>join</button>
  </form>

</section>

<%# displays open bills %>
<p>open bills</p>
<% current_user.usersxbills.each do |bill| %>
  <% if Bill.find(bill.bill_id).open%>
    <section>
        <p> 
          <a href="/bills/<%= Bill.find(bill.bill_id).id%>">
            <%= Bill.find(bill.bill_id).name %>
          </a>
        </p> 
        <p> <%= Bill.find(bill.bill_id).join_pin %></p>
    </section>
  <% end %>
<%end%>

<%# displays closed bills %>
<p>closed bills</p>
<% current_user.usersxbills.each do |bill| %>
  <% if !Bill.find(bill.bill_id).open%>
    <section>
        <p> 
          <a href="/bills/<%= Bill.find(bill.bill_id).id%>">
            <%= Bill.find(bill.bill_id).name %>
          </a>
        </p> 
        <p> <%= Bill.find(bill.bill_id).join_pin %></p>
    </section>
  <% end %>
<%end%>