<header>
  <img src="#logo" alt="billmates logo">
  <div>
    <p><%= current_user.name %></p>
    <form action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>logout</button>
    </form>
  </div>
</header>

<section class="create-join-bill">
  <form action="/bills/new" method="post">
    <input name="name" type="text" placeholder="enter name for your bill or event">
    <button>create bill</button>
  </form>
  <form action="/bills/join" method="post">
    <input name="join_pin" type="text" placeholder="enter bill pin">
    <button>join</button>
  </form>

</section>

<%# displays open bills %>
<% current_user.usersxbills.each do |bill| %>
  <% open_bill = Bill.find_by(open: true)%>
  <% if open_bill %>
    <section>
        <p> 
          <a href="/bills/<%= Bill.find_by(id: bill.bill_id, open: true).id%>">
            <%= Bill.find_by(id: bill.bill_id, open: true).name %>
          </a>
        </p> 
        <p> <%= Bill.find_by(id: bill.bill_id, open: true).join_pin %></p>
    </section>
  <% end %>
<%end%>

<%# displays closed bills %>
<% current_user.usersxbills.each do |bill| %>
  <% closed_bill = Bill.find_by(open: false)%>
  <% if closed_bill %>
    <section>
        <p> <%= Bill.find_by(id: bill.bill_id, open: false).name %> </p> 
        <p> <%= Bill.find_by(id: bill.bill_id, open: false).join_pin %></p>
    </section>
  <% end %></a>
<%end%>